# Use postgres/example user/password credentials
version: '3.1'

services:

  db:
    image: postgres
    container_name: postgres
    restart: always
    ports:
      - "8432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: micsimare
      POSTGRES_DB: smartagenda
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -d pizzalab -U user" ]
      interval: 30s
      timeout: 30s
      retries: 3

  adminer:
    image: adminer
    restart: always
    ports:
      - 9080:8080
